body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

.container {
    padding: 20px
}

.advanced_container {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 45px 2% 0 45px;
}

.google_input_container {
    margin: 0 auto;
    max-width: 584px;
    padding-top: 6px;
    position: relative;
}

.google_input_container input {
    border: none;
    font-size: 16px;
    height: 39px;
    margin-top: 2px;
}

.google_input {
    background: transparent;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    box-shadow: none;
    height: 44px;
    margin: 0 auto 18px;
    max-width: 584px;
    padding: 0 20px;
    width: auto;
}

.text_input {
    border-radius: 1px;
    border: solid 1px #d9d9d9;
    border-top-color: #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 97%
}

.google_input:hover {
    box-shadow:0 1px 6px rgb(32 33 36 / 28%);
}

.logo {
    height: 92px;
    margin: 30px auto;
    position: relative;
    width: 272px;
}

.logo_sm {
    width: 74px;
    height: 24px;
}

.images_text {
    bottom: 0;
    color: #4285f4;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    left: 215px;
    position: absolute;
    text-transform: lowercase;
    white-space: nowrap;
}

img {
    width: 100%;
}

.link_group {
    text-align: right;
}

.with_logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.link {
    color: #202124;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.button_group {
    margin: 0 auto;
    width: 282px;
}

.images_button {
    width: 172px;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    padding: 20px 10px 25px;
    border-bottom: 1px solid #ebebeb;
}

.row {
    padding-bottom: 16px;
}

label.label {
    font-size: 13px;
    color: rgb(34,34,34);
    line-height: 16px;
}

.input_grid {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 182px 50% auto;
}

.description_bold {
    color: #777;
    font-size: 13px;
    font-weight: 700;
}

.description {
    color: #555;
    font-size: 11px;
}

button.default_button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    height: 36px;
    line-height: 27px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
}

button.default_button:hover {
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

button.advanced_button {
    box-shadow: none;
    float: right;
    margin: 10px 0;
    height: 30px;
    width: 120px;
    line-height: 100%;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
}

button.advanced_button:hover {
    background-color: #357ae8;
    border-color: #2f5bb7;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8)
}

input {
    margin: 0 auto;
    width: 99%;
}

input:focus-visible {
    outline: none;
}